### 0. Import files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 300)

In [3]:
# In the future, import train_ID and test_ID directly:
train_ID = pd.read_csv('./data/train_01_index.csv', names = ['Id'])
test_ID = pd.read_csv('./data/test_index.csv', names = ['Id'])

In [4]:
train_ID.head(2)

   Id
0   1
1   2

In [5]:
test_ID.head(2)

     Id
0  1461
1  1462

In [6]:
X_train = pd.read_csv('./data/X_train_01.csv')
X_test = pd.read_csv('./data/X_test_01.csv')
y_train = pd.read_csv('./data/y_train_01_log.csv', names = ['SalePrice'])

In [7]:
print(X_train.shape, X_test.shape, y_train.shape)

(1458, 79) (1459, 79) (1458, 1)

In [8]:
X_train.head(2)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,14.0,3.0,5.831328,19.212182,1.0,0.0,3.0,3.0,1.0,0.0,2.0,16.0,4.0,4.0,4.0,6.0,2.440268,2.055642,14.187527,14.187527,1.0,2.0,11.0,11.0,2.0,8.059126,3.0,2.0,5.0,4.0,3.0,1.0,6.0,11.170327,1.0,0.0,7.483296,11.692623,5.0,4.0,1.0,3.0,11.692623,11.686189,0.0,13.698888,0.730463,0.000000,1.194318,0.730463,1.540963,0.730463,3.0,2.602594,7.0,0.000000,0.0,5.0,14.187527,2.0,1.194318,10.506271,3.0,3.0,2.0,0.000000,5.714669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,4.0
1,11.0,3.0,6.221214,19.712205,1.0,0.0,3.0,3.0,1.0,1.0,2.0,20.0,2.0,4.0,4.0,5.0,2.259674,2.602594,14.145138,14.145138,1.0,2.0,4.0,5.0,1.0,0.000000,2.0,2.0,2.0,4.0,3.0,4.0,5.0,12.062832,1.0,0.0,8.897844,12.792276,5.0,4.0,1.0,3.0,12.792276,0.000000,0.0,12.792276,0.000000,0.730463,1.194318,0.000000,1.540963,0.730463,2.0,2.259674,7.0,0.730463,3.0,5.0,14.145138,2.0,1.194318,10.062098,3.0,3.0,2.0,9.010206,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0

In [9]:
X_test.head(2)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,11.0,2.0,6.221214,20.479373,1.0,0.0,3.0,3.0,1.0,0.0,2.0,10.0,2.0,4.0,4.0,5.0,2.055642,2.259674,14.121376,14.121376,1.0,2.0,11.0,11.0,1.0,0.000000,2.0,2.0,2.0,3.0,3.0,1.0,3.0,10.105326,2.0,7.397498,8.780689,11.775114,5.0,2.0,1.0,3.0,11.818680,0.0,0.0,11.818680,0.0,0.0,0.730463,0.000000,1.194318,0.730463,2.0,2.055642,7.0,0.0,0.0,5.0,14.121376,1.0,0.730463,11.259868,3.0,3.0,2.0,7.338607,0.00000,0.0,0.0,7.020909,0.0,0.0,3.0,0.0,0.000000,2.0,1.0,4.0,4.0
1,11.0,3.0,6.244956,21.327220,1.0,0.0,2.0,3.0,1.0,2.0,2.0,10.0,4.0,4.0,4.0,5.0,2.259674,2.259674,14.116605,14.116605,4.0,2.0,5.0,4.0,2.0,6.808145,2.0,2.0,2.0,3.0,3.0,1.0,5.0,11.901094,1.0,0.000000,9.752379,12.943735,5.0,2.0,1.0,3.0,12.943735,0.0,0.0,12.943735,0.0,0.0,0.730463,0.730463,1.540963,0.730463,3.0,2.259674,7.0,0.0,0.0,5.0,14.116605,1.0,0.730463,9.118181,3.0,3.0,2.0,9.672623,4.79213,0.0,0.0,0.000000,0.0,0.0,0.0,3.0,20.777526,2.0,1.0,4.0,4.0

In [10]:
y_train.head(2)

   SalePrice
0  12.247694
1  12.109011

In [11]:
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

In [12]:
import sklearn.cross_validation as cv
from sklearn.model_selection import KFold, cross_val_score, train_test_split, GridSearchCV
from sklearn import linear_model
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

In [13]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
# import xgboost as xgb
# import lightgbm as lgb
# from sklearn.svm import SVR
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone

In [14]:
n_folds = 5
def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X_train.values)
    rmse= np.sqrt(-cross_val_score(model, X_train.values, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [15]:
model_score_df = pd.DataFrame(columns = ['Model', 'RMSLE.mean', 'RMSLE.std'])
model_score_df

Empty DataFrame
Columns: [Model, RMSLE.mean, RMSLE.std]
Index: []

In [15]:
# Linear
# 1/3 Lasso
# model_lasso = linear_model.Lasso(alpha = 0.0009659659659659659)
model_lasso = make_pipeline(RobustScaler(), \
                            linear_model.Lasso(alpha = 0.0025325325325325325))
model_lasso = model_lasso.fit(X_train, y_train)

# 2/3 Ridge
# model_ridge = linear_model.Ridge(alpha = 4.070142453219439)
model_ridge = make_pipeline(RobustScaler(), \
                            linear_model.Ridge(alpha = 40.14242490499322))
model_ridge = model_ridge.fit(X_train, y_train)

# 3/3 ENet
# model_ENet = linear_model.ElasticNet(alpha = 0.0010604604604604606, l1_ratio = 0.9112224448897795)
model_enet = make_pipeline(RobustScaler(), \
                           linear_model.ElasticNet(alpha=0.0029850382451187324, \
                                                   l1_ratio=0.8444444444444444))
model_enet = model_enet.fit(X_train, y_train)

# Tree
# 1/2 GBoost
# model_gboost = GradientBoostingRegressor(n_estimators = 800, learning_rate = 0.025, \
#                                          max_depth = 4, max_features = 'sqrt', \
#                                          min_samples_leaf = 17, min_samples_split = 12, \
#                                          loss = 'huber')
model_gboost = make_pipeline(RobustScaler(), \
                               GradientBoostingRegressor(n_estimators = 1400, \
                                                         learning_rate = 0.03, \
                                                         max_depth = 3, max_features = 'sqrt', \
                                                         min_samples_leaf = 20, \
                                                         min_samples_split = 16, \
                                                         loss = 'huber'))
model_gboost = model_gboost.fit(X_train, y_train)

# 2/2 RFR
model_rfr = RandomForestRegressor(n_estimators = 1000, max_depth = 14, max_features = 'auto', \
                                  min_samples_leaf = 1, min_samples_split = 2)

# Kernal
# 1/1 KRR
model_krr = KernelRidge(alpha=24.57894736842105, kernel='polynomial', degree=2, coef0=175.57894736842104)

Serigne's results:
```
Lasso:                   0.1115 (0.0074)**
ElasticNet score:        0.1116 (0.0074)**
Kernel Ridge score:      0.1153 (0.0075)**
Gradient Boosting score: 0.1177 (0.0080)**
Xgboost score:           0.1161 (0.0079)
LGB score:               0.1157 (0.0067)
```
My results:
```
Lasso   0.11830  0.003758**
Ridge   0.11973  0.003102
ENet    0.11830  0.003749*
GBoost  0.11360  0.006360**
RFR     0.13581  0.005779
KRR     0.11610  0.003046**
```

### 1. Stacking: Simple Averaging

In [16]:
class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
    
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        for model in self.models_:
            model.fit(X, y)
        return self
    
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

In [26]:
models_avg = AveragingModels(models = (model_lasso, model_ridge, model_enet, model_gboost, model_rfr, model_krr))
score = rmsle_cv(models_avg)
print('Averaged base models score: {} ({})'.format(score.mean(), score.std()))

Averaged base models score: 0.11261633339691779 (0.004326415823383889)

In [27]:
data = pd.Series({'Model': 'AllAvg', 'RMSLE.mean': score.mean(), 'RMSLE.std': score.std()})
model_score_df = model_score_df.append(data, ignore_index = True)
model_score_df

    Model  RMSLE.mean  RMSLE.std
0  AllAvg    0.112616   0.004326

In [23]:
models_avg = AveragingModels(models = (model_lasso, model_enet, model_gboost, model_krr))
score = rmsle_cv(models_avg)
print('Averaged base models score: {} ({})'.format(score.mean(), score.std()))

Averaged base models score: 0.11160404598853076 (0.004111675767183277)

In [24]:
models_avg = AveragingModels(models = (model_lasso, model_gboost, model_krr))
score = rmsle_cv(models_avg)
print('Averaged base models score: {} ({})'.format(score.mean(), score.std()))

Averaged base models score: 0.11075704380682638 (0.004010967681759921)

In [30]:
models_avg = AveragingModels(models = (model_enet, model_gboost, model_krr))
score = rmsle_cv(models_avg)
print('Averaged base models score: {} ({})'.format(score.mean(), score.std()))

Averaged base models score: 0.11062366282195482 (0.004346423656322788)

In [31]:
# model_score_df.drop(model_score_df.tail(1).index,inplace=True)

In [32]:
data = pd.Series({'Model': '3Avg', 'RMSLE.mean': score.mean(), 'RMSLE.std': score.std()})
model_score_df = model_score_df.append(data, ignore_index = True)
model_score_df

    Model  RMSLE.mean  RMSLE.std
0  AllAvg    0.112616   0.004326
1    3Avg    0.110624   0.004346

### 2. Adding Meta-Model

In [17]:
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
    
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred.flatten()
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
    
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)

In [18]:
def rmsle_cv_(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X_train.values)
    rmse= np.sqrt(-cross_val_score(model, X_train.values, y_train.values, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [19]:
models_meta1 = StackingAveragedModels(base_models = (model_gboost, model_krr), \
                                      meta_model = model_enet)

In [55]:
score = rmsle_cv_(models_meta1)
print('Meta-Model score: {} ({})'.format(score.mean(), score.std()))

Meta-Model score: 0.10967959379999619 (0.004807526994633558)

In [ ]:
# model_score_df.drop(model_score_df.tail(1).index,inplace=True)
# model_score_df

In [59]:
data = pd.Series({'Model': 'Meta1', 'RMSLE.mean': score.mean(), 'RMSLE.std': score.std()})
model_score_df = model_score_df.append(data, ignore_index = True)
model_score_df

    Model  RMSLE.mean  RMSLE.std
0  AllAvg    0.112616   0.004326
1    3Avg    0.110624   0.004346
2   Meta1    0.109680   0.004808

In [60]:
models_meta2 = StackingAveragedModels(base_models = (model_enet, model_gboost), \
                                      meta_model = model_krr)

In [61]:
score = rmsle_cv_(models_meta2)
print('Meta-Model score: {} ({})'.format(score.mean(), score.std()))

Meta-Model score: 0.10965146157290324 (0.0047119876864853616)

In [62]:
data = pd.Series({'Model': 'Meta2', 'RMSLE.mean': score.mean(), 'RMSLE.std': score.std()})
model_score_df = model_score_df.append(data, ignore_index = True)
model_score_df

    Model  RMSLE.mean  RMSLE.std
0  AllAvg    0.112616   0.004326
1    3Avg    0.110624   0.004346
2   Meta1    0.109680   0.004808
3   Meta2    0.109651   0.004712

In [63]:
models_meta3 = StackingAveragedModels(base_models = (model_enet, model_krr), \
                                      meta_model = model_gboost)

In [65]:
score = rmsle_cv_(models_meta3)
print('Meta-Model score: {} ({})'.format(score.mean(), score.std()))

Meta-Model score: 0.12165791235661419 (0.0029176413385139893)

In [66]:
data = pd.Series({'Model': 'Meta3', 'RMSLE.mean': score.mean(), 'RMSLE.std': score.std()})
model_score_df = model_score_df.append(data, ignore_index = True)
model_score_df

    Model  RMSLE.mean  RMSLE.std
0  AllAvg    0.112616   0.004326
1    3Avg    0.110624   0.004346
2   Meta1    0.109680   0.004808
3   Meta2    0.109651   0.004712
4   Meta3    0.121658   0.002918

### 3. Ensembling & Final Training

In [20]:
def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

models_meta1 = gboost, krr + enet
<br>models_meta2 = gboost, enet + krr
<br>models_meta3 = krr, enet + gboost
```
Model	RMSLE.mean	RMSLE.std
0	AllAvg   0.112616	0.004326
1	3Avg 	0.110624	0.004346
2	Meta1	0.109680	0.004808
3	Meta2	0.109651	0.004712
4	Meta3	0.121658	0.002918
```

In [21]:
models_meta1.fit(X_train.values, y_train.values)
stacked_train_pred1 = models_meta1.predict(X_train.values)
stacked_pred1 = np.exp(models_meta1.predict(X_test.values))
print(rmsle(y_train.values, stacked_train_pred1))

0.08272137276793937

In [68]:
models_meta2.fit(X_train.values, y_train.values)
stacked_train_pred2 = models_meta2.predict(X_train.values)
stacked_pred2 = np.exp(models_meta2.predict(X_test.values))
print(rmsle(y_train.values, stacked_train_pred2))

0.08908143917841976

In [69]:
models_meta3.fit(X_train.values, y_train.values)
stacked_train_pred3 = models_meta3.predict(X_train.values)
stacked_pred3 = np.exp(models_meta3.predict(X_test.values))
print(rmsle(y_train.values, stacked_train_pred3))

0.1058263372970106

**RFR, Ridge, Lasso**

In [74]:
model_rfr.fit(X_train.values, y_train.values)
rfr_train_pred = model_rfr.predict(X_train.values)
rfr_pred = np.exp(model_rfr.predict(X_test.values))
print(rmsle(y_train.values, rfr_train_pred))

0.0495860658970757

In [72]:
model_ridge.fit(X_train.values, y_train.values)
ridge_train_pred = model_ridge.predict(X_train.values)
ridge_pred = np.exp(model_ridge.predict(X_test.values))
print(rmsle(y_train.values, ridge_train_pred))

0.11178191541855614

In [22]:
model_lasso.fit(X_train.values, y_train.values)
lasso_train_pred = model_lasso.predict(X_train.values)
lasso_pred = np.exp(model_lasso.predict(X_test.values))
print(rmsle(y_train.values, lasso_train_pred))

0.1137820116873936

models_meta1 = gboost, krr + enet
<br>models_meta2 = gboost, enet + krr
<br>models_meta3 = krr, enet + gboost
```
Model	RMSLE.mean	RMSLE.std
0	AllAvg   0.112616	0.004326
1	3Avg 	0.110624	0.004346
2	Meta1	0.109680	0.004808
3	Meta2	0.109651	0.004712
4	Meta3	0.121658	0.002918
```

**Final RMSLE Score**

In [75]:
y_train.shape

(1458, 1)

In [76]:
stacked_train_pred1.shape, stacked_train_pred2.shape, stacked_train_pred3.shape

((1458,), (1458, 1), (1458,))

In [77]:
lasso_train_pred.shape, ridge_train_pred.shape, rfr_train_pred.shape

((1458,), (1458, 1), (1458,))

In [79]:
stacked_train_pred2.flatten()

array([12.24139454, 12.12842975, 12.30107465, ..., 12.46709202,
       11.83412458, 11.8956224 ])

In [78]:
ridge_train_pred.flatten()

array([12.26259759, 12.17062499, 12.32047084, ..., 12.3823438 ,
       11.86518202, 11.89648064])

In [80]:
a = 0.08268350961637837
b = 0.0495860658970757
# (1/a)/(1/a+1/b+1/c), (1/b)/(1/a+1/b+1/c), (1/c)/(1/a+1/b+1/c)
(1/a)/(1/a+1/b), (1/b)/(1/a+1/b)

(0.3748864068293011, 0.625113593170699)

In [82]:
np.arange(0.1, 1, 0.1)

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [27]:
'''RMSE on the entire Train data when averaging'''
print('RMSLE score on train data:')
print(rmsle(y_train.values, (stacked_train_pred1*0.75 + lasso_train_pred*0.25)))

RMSLE score on train data:
0.08844656831614683

In [88]:
ensemble = stacked_pred1
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121926.715953  1461
1  161537.728401  1462
2  187201.228355  1463
3  195795.741147  1464
4  190745.535803  1465

In [89]:
submit.to_csv('./data2/submission_05_final.csv', index=False)

In [1]:
684/4406 # 0.11793 # > 0.11717

0.15524285065819338

In [28]:
ensemble = stacked_pred1*0.75 + rfr_pred*0.25
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

NameError: name 'rfr_pred' is not defined

In [87]:
submit.to_csv('./data2/submission_05_final_rfr.csv', index=False)

In [ ]:
855/4406 # 0.12037 # > 0.11717

In [90]:
ensemble = stacked_pred1*0.8 + ridge_pred*0.2
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121021.620540  1461
1  129691.714766  1462
2  133738.655204  1463
3  138020.704756  1464
4  136579.566837  1465

In [91]:
submit.to_csv('./data2/submission_05_final_ridge.csv', index=False)

In [ ]:
# .../4406 # 0.39028 # > 0.11717

In [92]:
ensemble = stacked_pred1*0.8 + lasso_pred*0.2
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121296.468092  1461
1  161019.993627  1462
2  185257.299673  1463
3  195645.940688  1464
4  192058.983998  1465

In [93]:
submit.to_csv('./data2/submission_05_final_lasso_02.csv', index=False)

In [2]:
620/4406 # 0.11736  > 0.11717

0.1407172038129823

In [26]:
ensemble = stacked_pred1*0.7 + lasso_pred*0.3
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121519.508594  1461
1  161946.380521  1462
2  182842.228727  1463
3  194178.556086  1464
4  192714.670700  1465

In [27]:
submit.to_csv('./data2/submission_05_final_lasso_03.csv', index=False)

In [28]:
604/4406 # 0.11723  > 0.11717

0.13708579210167954

In [29]:
ensemble = stacked_pred1*0.6 + lasso_pred*0.4
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121127.504030  1461
1  161518.191094  1462
2  182076.422473  1463
3  194302.582196  1464
4  193371.542997  1465

In [30]:
submit.to_csv('./data2/submission_05_final_lasso_04.csv', index=False)

In [31]:
638/4406 # 0.11748  > 0.11717

0.14480254198819792

In [32]:
ensemble = stacked_pred1*0.75 + lasso_pred*0.25
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121715.510876  1461
1  162160.475235  1462
2  183225.131854  1463
3  194116.543031  1464
4  192386.234552  1465

In [33]:
submit.to_csv('./data2/submission_05_final_lasso_025.csv', index=False)

In [34]:
596/4406 # 0.11718  > 0.11717

0.13527008624602815

In [35]:
ensemble = stacked_pred1*0.73 + lasso_pred*0.27
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121637.109963  1461
1  162074.837349  1462
2  183071.970603  1463
3  194141.348253  1464
4  192517.609011  1465

In [36]:
submit.to_csv('./data2/submission_05_final_lasso_027.csv', index=False)

In [24]:
594/4406 # 0.11720  > 0.11717

0.1348161597821153

In [23]:
ensemble = stacked_pred1*0.77 + lasso_pred*0.23
submit = pd.DataFrame(columns = ['SalePrice'])
submit['Id'] = test_ID['Id']
submit['SalePrice'] = ensemble
submit.head()

       SalePrice    Id
0  121046.142917  1461
1  162133.555255  1462
2  184560.034298  1463
3  193576.776112  1464
4  193061.565478  1465

In [25]:
submit.to_csv('./data2/submission_05_final_lasso_023.csv', index=False)

In [26]:
618/4406 # 0.11733  > 0.11717

0.14026327734906946

In [ ]:
30,      27,      25,      23,      20
0.11723, 0.11720, 0.11718, 0.11733, 0.11736